.container{
    margin: 50px 100px;
}

.input{
height: 24px;
width: 200px;
}

td{
padding: 12px;
border: 1px solid;
}

.menu{
position: fixed;
top: 16px;
right: 8px;
background-color: white;
}

.text-center{
    text-align: center;
}