#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }

  .footer{
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .pointer{
  cursor: pointer;
  }

  #modal-success{
    position: fixed;
    bottom: 100px;
  }